.navbar-title{
   
    
    
    font-family: "Montserrat",sans-serif;
    font-size: 2rem;
   
    background-color: #2a79ea;
}
.active{
    color:white;
    
}
.active:hover{
    color:black;
}
/* OPEXX HOMEPAGE */

.title-img{
    background-image:url("https://internship.suvenconsultants.com/projects/oppex/img/Fantasy-City.jpg");
    background-size: 100% 100%;
    height:700px;
    
    text-align: center;
    color:white;
    
}
.title-heading{
    font-weight:bold;
    font-size:3rem;
}
.description-btn{
    background: rgb(119, 232, 119);
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 5%;
    font-weight: bold;
    
   
}
.description-bottom{
    margin-top:450px;
}
.description-bottom a{
    color: black;

}
.title-para{
    font-family: "Bahnschrift";
    font-weight: bold;
    font-size: 1.4rem;
   
}
#features{
    text-align:center;
    padding:80px;
    line-height: 2rem;
    
}
.card-title{
    font-family: "Bahnschrift";
    font-weight: bold;
    font-size: 2.5rem;
    color:gray;
}
#customers{
    text-align: center;
    
    
}

.card-img-bottom{

    border-radius:100%;
    

}
#footer{
    text-align:center;
    padding:10px;
}

/* PRICING */
#pricing-body{
    text-align: center;
}
.body-row{
    position:relative;
    left:100px;
}

#pricing-footer{
    text-align: center;
}
#pricing-body h3{
    margin-bottom:60px;
}
.pricing-body-img{
  
}
#featured-testimonial{
    display: flex;
    height: 400px;
    padding: 120px 71px;
    justify-content: center;
    justify-content: space-around;
    background: rgb(239, 236, 233);
}
.featureTestimonial{
    background-image: url('https://internship.suvenconsultants.com/projects/oppex/img/friedrich_rojahn.jpg');
    
    background-size: 100% 100%;
height: 200px;
width: 200px;
    border-radius: 100%;
}
.h3t{
    position: relative;
    top: 80px;
}
.card:hover{
    border: 2px solid green;

}





/* SEARCH */

#search-description{
   
  
   background-color:#30AADD;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 220px;
  
  
}
.start{
    background: green;
    color: white;
    border-radius: 5%;
}

.bottom{
    display: flex;
flex-direction: column ;
align-items: center;
margin-top:60px;
}
.live-tenders{
  
    color:white;
}
.live-tenders{
    position: relative;
    left: -100px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
}
.live-tenders a{
    padding: 2px 21px;
    color: white;
    text-decoration: none;
    
}